* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: antiquewhite;
}

.container {
  width: 500px;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
  box-shadow: 5px 5px 5px 5px;
  background-color: #fff;
  .title {
    font-size: 2rem;
    color: rgb(226, 86, 86);
    letter-spacing: 5px;
  }

  .btn {
    background-color: rgb(235, 83, 83);
    padding: 0.8rem 4rem;
    margin-right: 2rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
  margin: 0.5rem auto;
  border-bottom: 4px solid rgb(193, 187, 187);
  transition: all 0.5s;
  &:hover{
    transform: scale(1.2);
    background-color: rgb(239, 170, 156);
  }

  img {
    border-radius: 50%;
  }

  .card-info {
    padding: 1rem;
    h2{
      margin-bottom: 1rem;
    }
    p {
      color: grey;
    }
  }
}
